<div class="home-col-wrapper">

    <div class="home-col home-col-1">
      <div class="logo">
        <a href="http://eamonnsdublinchipper.com"><img src="http://investors.eatgoodfoodgroup.com/img/Eamonns.png" alt="Eamonns"></a>
        <!--<p class="tagline">Fast food with a pedigree</p>-->
        <!--<a href="http://www.eamonnsdublinchipper.com" class="button">Visit Website</a>-->
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eamonns %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eamonns %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eamonns %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="home-col home-col-2">
      <div class="logo">
        <a href="http://www.restauranteve.com"><img src="http://investors.eatgoodfoodgroup.com/img/restaurant-eve.jpg" alt="Restaurant Eve"></a>
        <!--<<p class="tagline">American Fine Dining</p>-->
        <!--<<a href="http://www.restauranteve.com" class="button">Visit Website</a>-->
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eamonns %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eamonns %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eamonns %}
          </li>
          {% endif %}
        </ul>
        <ul class="inline-list social">
          <a href="https://www.facebook.com/restauranteve"><i class="fi-social-facebook"></i></a>
          <a href="https://twitter.com/restaurant_eve"><i class="fi-social-twitter"></i></a>
          <a href="https://www.instagram.com/restaurant_eve/"><i class="fi-social-instagram"></i></a>
        </ul>
      </div>
    </div>
    <div class="home-col home-col-3">
      <div class="logo">
        <a href="http://www.societyfair.net"><img src="http://investors.eatgoodfoodgroup.com/img/society-fair.jpg" alt="Society Fair"></a>
        <!--<<p class="tagline">Wine Bar • Market • Butcher • Bakery</p>-->
        <!--<<a href="http://www.societyfair.net" class="button">Visit Website</a>-->
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eamonns %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eamonns %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eamonns %}
          </li>
          {% endif %}
        </ul>
        <ul class="inline-list social">
          <a href="https://www.facebook.com/societyfair"><i class="fi-social-facebook"></i></a>
          <a href="https://twitter.com/societyfair"><i class="fi-social-twitter"></i></a>
          <a href="https://www.instagram.com/societyfair/"><i class="fi-social-instagram"></i></a>
        </ul>
      </div>
    </div>
    <div class="home-col home-col-4">
      <div class="logo">
        <a href="http://www.barpx.com"><img src="http://investors.eatgoodfoodgroup.com/img/px-blk.png" alt="PX"></a>
        <!--<<p class="tagline">1920s Themed Speakeasy</p>-->
        <!--<<a href="http://www.barpx.com" class="button">Visit Website</a>-->
        <ul class="inline-list social">
          {% if site.twitter_username_eamonns %}
          <li>
            {% include icon-twitter.html username=site.twitter_username_eamonns %}
          </li>
          <li>
            {% include icon-facebook.html username=site.facebook_username_eamonns %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username_eamonns %}
          </li>
          {% endif %}
        </ul>
        <ul class="inline-list social">
          <a href="https://www.facebook.com/BarPX/"><i class="fi-social-facebook"></i></a>
          <a href="https://twitter.com/BarPX"><i class="fi-social-twitter"></i></a>
          <a href="https://www.instagram.com/barpx/"><i class="fi-social-instagram"></i></a>
        </ul>
      </div>
    </div>

  </div>