<div class="home-col-wrapper">
    <section class="profiles">
      <h3>The People</h3>
      <div class="home-col profile-col-1">
        <div class="panel">
          <div class="sign">
            <h1>Cathal Armstrong</h1>
          </div>
          <div class="image-wrapper">
            <a href="#"><img src="http://investors.eatgoodfoodgroup.com/img/cathal-300x300.jpg" alt=""></a>
          </div>
          <p><strong>Chef, Restaurateur -</strong> Four years after the opening of Restaurant Eve, Armstrong’s Tasting Room received a four-out of four star rating by Washington Post food critic Tom Sietsema. <br/><br/>National Magazines have featured Armstrong’s commitment to culinary excellence and Irish “farm to table” style in prominent stories in Oprah, Food and Wine, Cookie, Parents, Southern Living & Martha Stewart. The Wall Street Journal, Washington Post, BBC World News, NY Times, and The Irish Times have taken note of his culinary prowess and his dedication to ending childhood obesity. The White House honors Armstrong as a Champion of Change - Americans who  ‘Innovate, Educate, and Build’ their respective communities. <br/><br/>Rave reviews continue as Armstrong stretches out with complex, thoughtful cooking that knits together his Irish upbringing, his French training, and his grasp of the American culinary moment.</p>
        </div>
      </div>

      <div class="home-col profile-col-2">
        <div class="panel">
          <div class="sign">
            <h1>Todd Thrasher</h1>
          </div>
          <div class="image-wrapper">
            <a href="#"><img src="http://investors.eatgoodfoodgroup.com/img/todd-300x300.jpg" alt=""></a>
          </div>
          <p><strong>General Manager, Sommelier -</strong> Todd Thrasher, a native Virginian, is a lover of many things—scuba diving, the island of Bonaire, playing golf and cooking. Most importantly, however, is his love for the creation of the perfect artisan cocktail and his knowledge of wine. <br/><br/>His expert wine lists and trend setting cocktails for Restaurant Eve, Society Fair, and PX that have earned him acclaim and garnered him highly coveted awards. His passion is evident from the wine pairings he creates to accompany the Restaurant Eve tasting menus to his highly coveted Edenesque Cocktails, created with exceptional and unique ingredients.<br/><br/>Known as one of the best mixologists in the nation, many, including Washington Post food critic Tom Sietsema, have applauded his specialty cocktails and creations:</p>
        </div>
      </div>
    </section>
  </div>