/**
 * Home styles
 */

body {
    background: url(https://dl.dropboxusercontent.com/u/6041318/eatgoodfoodgroup.com/img/carrots.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@include media-query($on-palm) {
    body {
        background: $grey-color-light;
        background-image: none;
    }
}


.site-header {
    border-top: 0px;
    background: #fff;
    z-index: 1500;
}
.site-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: $smaller-font-size;
    font-weight: bold;
}
  
.home {
    text-align: center;

    .home-col-wrapper {
        @extend %clearfix;
        position: relative;
        z-index: 1000;
        width: $content-width;
        padding-top: 6rem;
    }

    .home-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;

        .logo {
            text-align: center;
            position: relative;
            z-index: 1500;

            img {
                width: 40%;
            }

            ul.inline-list.social {
                margin-left: $spacing-unit / 2; //reset list indent
            }

            ul.inline-list.social li {
                list-style: none;
                display: inline-block;
                margin-top: 0.5rem;

                a {
                    span.icon {
                        svg {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .home-col-1, .home-col-2, .home-col-3, .home-col-4 {
        width: -webkit-calc(25% - (#{$spacing-unit} / 2));
        width:         calc(25% - (#{$spacing-unit} / 2));
    }

    .color-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,.9);
        z-index: 99;
    }

    .hero-wrapper {
        background-color: rgba(255,255,255,.8);
        z-index: 99;
    }

    section.updates {
        margin: 0 auto;
        padding: 2rem;
        max-width: calc(50% - (#{$spacing-unit} / 2));
        max-width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        text-align: left;
        position: relative;
        z-index: 1200;
        background: $white-color;

        h1.page-heading {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 70%;
        }
    }

    section.sign-up {
        padding: 3rem;
        background: rgba(255,255,255,.8);
        position: relative;
        z-index: 1200;

        input.email {
            padding: calc($spacing-unit / 2);
            padding: -webkit-calc($spacing-unit / 2);
            border: 1px solid #efefef;
            font-size: $base-font-size;
            font-family: $base-font-family;
            display: inline-block;
            width: 30%;
        }
        input.btn {
            background: rgb(191, 138, 40);
            color: $white-color;
            font-size: $base-font-size;
            text-transform: uppercase;
            border-bottom: 4px solid #956c1f;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            padding: calc($spacing-unit / 2);
            padding: -webkit-calc($spacing-unit / 2);
        }
    }
/**
    section.profiles {

        h3 {
            margin: 3rem 0 2rem 0;
            text-align: center;
            color: #333;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            font-size: 1.0rem;
        }
        .panel {
            margin: 3rem auto;
            //border: 2px solid #333;//
            background: #fafafa;

            .sign {
                background: #fafafa;
                width: 200px;
                height: 2.4rem;
                //border: 2px solid #333;
                position: relative;
                top: -1.5rem;
                margin: auto;

                h1 {
                    text-transform: uppercase;
                    font: bolder 0.875rem "Avenir Next";
                    letter-spacing: 3px;
                    color: #333;
                    font-size: 70%;
                    text-align: center;
                    line-height: 2rem;
                }
            }

            .image-wrapper {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                text-align: center;

                a img {
                    padding-bottom: $spacing-unit;
                    margin-top: -1.25rem;
                }
            }

            p {
                font: 1rem "Avenir Next";
                padding: $spacing-unit / 2;
                margin-top: -1.25rem;
                color: #333;
                text-align: left;
            }
        }
    }

**/
    @include media-query($on-laptop) {
        padding: 0;

        section.updates {
            margin: 3rem auto 0 auto;
            max-width: calc(70% - (#{$spacing-unit} / 2));
            text-align: left;
        }
    }

    @include media-query($on-palm) {
        padding: 0;

        .home-col-1, .home-col-2, .home-col-3, .home-col-4  {
            width: -webkit-calc(50% - (#{$spacing-unit} / 2));
            width:         calc(50% - (#{$spacing-unit} / 2));
        }
        .home-col {
            padding-left: 0;

            .logo {

                img {
                    width: 60%;
                }
            }
        }
        .profile-col-1, .profile-col-2  {
        width: 100%;
        }
        section.updates {
            margin: 0 auto;
            max-width: calc(100% - (#{$spacing-unit} / 2));
            text-align: left;
            padding-left: $spacing-unit;
            padding-right: $spacing-unit;
        }
        section.sign-up {
            margin: 0;
            padding-left: $spacing-unit;
            padding-right: $spacing-unit;

            form {

                input.email {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

footer {

    background: #fff;

    .wrapper {
        max-width: calc(100% - (#{$spacing-unit} / 2));

        h2.footer-heading {
            font-size: $small-font-size;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
        }

        p.footer-links a {
            font-family: $base-font-family;
            list-style: none;
            font-weight: $base-font-weight;
            color: $grey-color;
            margin: 0;
            font-size: $small-font-size;

            &:after {
                content: "•";
                padding: 0 1rem 0 1rem;
            }

            &:last-of-type:after {
                content: "";
            }
        }

    }
}